{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "no-console": "off",
    "valid-jsdoc":"off",
    "object-curly-spacing": ["error", "always", { "objectsInObjects": false }],
    "comma-dangle":"off"
  }
}
